{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <h2>Staff/Admin Login Only</h2>
    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">Please correct the errors below.</p>
    {% endif %}
    <form method="post" id="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit-row">
            <input type="submit" value="Log in">
        </div>
    </form>
    <p><a href="/">Return to Website</a></p>
</div>
{% endblock %}