{% extends "base/base_dashboard.html" %}
{% load static %}
{% load shared_filters %}

{% block title %}
    Student Dashboard | {{ student.user.get_full_name }}
{% endblock %}

{% block content %}
<div class="space-y-8">


    <!-- 📊 Student Hub Dashboard -->
     <!-- include "dashboards/shared/includes/_view_studenthub_dashboard.html" with student=student metadata=metadata insights=insights -->
    {% include "dashboards/shared/includes/_view_studenthub_dashboard.html" %}

</div>
{% endblock %}
