<!-- 📈 Reports -->
<p class="text-xs uppercase text-violet-200 pt-6">Reports</p>
<div class="space-y-2 mt-2">
    <a href="{% url 'users:hod_students' %}" class="block px-3 py-2 rounded bs-hod-btn transition">
        <i class="fas fa-user-graduate mr-2"></i> Department Students
    </a>
    <a href="#" class="block px-3 py-2 rounded bs-hod-btn transition">
        <i class="fas fa-chart-pie mr-2"></i> Department Performance
    </a>
    <a href="{% url 'users:hod_view_subject_performance' %}" 
       class="block px-3 py-2 rounded bs-hod-btn transition">
        <i class="fas fa-chart-bar mr-2"></i> Subject Performance
    </a>
</div>
